<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../assets/logo-no-background.svg" rel="icon" type="image/x-icon" />
    <script
      src="https://kit.fontawesome.com/85cd353cd8.js"
      crossorigin="anonymous"
    ></script>
    <title>WanderWeather</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <style>
      #map {
        height: 400px; /* Adjust height as needed */
        margin-top: 20px; /* Add some space above the map */
      }
    </style>
  </head>

  <body>
    <div class="loader hidden js-loader">
      <div class="lds-dual-ring"></div>
    </div>
    <div class="container--main">
      <nav>
        <h1 class="heading--main">WanderWeather</h1>
        <img src="../assets/logo-no-background.svg" alt="" />
      </nav>
      <div class="app">
        <section class="trip-creator">
          <form id="trip-form" class="trip-creator__form js-form trip-creator">
              <div id="map" style="height: 300px; width: 100%;"></div>
              <input type="text" id="destination" name="destination" placeholder="Click on the map to select destination" readonly>
              <input type="hidden" id="latitude" name="latitude">
              <input type="hidden" id="longitude" name="longitude">
              <input type="date" id="departure-date" name="departure-date" required>
              <button type="submit" class="button button--primary">Add Trip</button>
            
          </form>
          <div id="map"></div>
          <!-- Map container -->
          <div id="destination-info"></div>
          <!-- Destination info display -->
        </section>

        <section class="trips js-trips"></section>
      </div>

      <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
      
    </div>
  </body>
</html>
