@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

$primary-color: hsla(43, 100, 50, 1); 
$secondary-color: hsla(230, 17, 42, 1); 
$accent-color: hsla(40, 39, 91, 1); 
$background-color: hsla(210, 36, 80, 1); 
$text-color: hsla(165, 17, 30, 1);

$small-breakpoint: 600px; 

body {
  color: $text-color;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
  background-image: url("../assets/map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container--main {
  margin-top: 60px;
  display: grid;
  grid-template-rows: 1fr auto;
  align-items: center;
  min-height: 100vh;
}

.app {
  display: grid;
  grid-template-columns: 1fr 2fr; 
  gap: 20px; 
  padding: 60px 15px 50px 15px;
  justify-items: center;
  align-items: start; 
}

// helper classes

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

